:root {
  
    /* Color Palette */
    --clr-txt:#0fff;
    --clr-bg: light(#f8f8f8);
    --clr-p: #f9a648;
    --clr-a: #f0f;
  
    /* Font Sizes */
    --fs-s: clamp(1rem, 3vw, 1.5rem);
    --fs-l: clamp(2.5rem, 10vw, 5rem);
    --fs-xl: clamp(2rem, 18vw, 10rem);
  }

body {
    background: #FF89FF;
}

.content{
    display: flex;
    justify-content: space-between;
}

#sidebar {
    width: 20%;
    height: 100%;
    background: white;
    color: var(--clr-txt);
}

#profile-name {
    font-size: 4rem;
}

#profile-skills {

}

#view-profile-btn {

}

#profile-skill-list{

}