:root {
  
    /* Color Palette */
    --clr-txt:#0fff;
    --clr-bg: light(#f8f8f8);
    --clr-p: #f9a648;
    --clr-a: #f0f;
  
    /* Font Sizes */
    --fs-s: clamp(1rem, 3vw, 1.5rem);
    --fs-l: clamp(2.5rem, 10vw, 5rem);
    --fs-xl: clamp(2rem, 18vw, 10rem);
}

@font-face{
    font-family: 'sporting-strategy-regular';
    src: url("/assets/fonts/SportingStrategy-BLdgG.ttf") format('ttf');
}

body {
    background: #FF8988;
}

.content {
    /* display: flex; */
}

#sidebar {
    height: 100vh;
    width: 20%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    background: white;
    color: var(--clr-txt);
    font-family:'sporting-strategy-regular';
    position: fixed;
}

.main-section {
    color: #333;
    width: 80%;
    margin-left: auto;
}

#profile-name {
    font-size: 4rem;
}

#profile-skills {

}

#view-profile-btn {

}

#profile-skill-list{

}

#discover-search {
    width: 63rem;
    margin: 1rem;
    padding: 0.8rem 1.25rem;
    border: none;
    border-radius: 1rem;
    background: #333;
    font-size: 1.5rem;
}

#search-btn {
    padding: 0.8rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
}

#search-btn:hover {
    cursor: pointer;
}

#projs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.proj-tile {
    background: #555;
    width: 15rem;
    height: 15rem;
}

.proj-name {
    font-size: 2rem;
}

.proj-loca {
    font-size: 1.25rem;
}

.proj-desc {
    font-size: 0.75rem;
}