body {
    font-family: Arial, sans-serif;
    background-color: var(--clr-bg-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo-container img {
    max-width: 400px; /* Adjust size of the logo */
    margin-bottom: 10px; /* Space below the logo */
    margin-top: -200px; /* Pull the logo upward */
}

.subtext {
    font-size: 2rem;
    margin-bottom: 50px; /* Space between subtext and buttons */
    text-align: center;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px; /* Space between subtext and buttons */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.login-button {
    background-color: var(--clr-txt-main);
}

.signup-button {
    background-color: var(--clr-txt-main);
}

.button:hover {
    opacity: 0.8; /* Slight transparency on hover */
}
