package templates

import "github.com/ljmcclean/knight-hacks-2024/server/templates/components"

templ Discover() {
	@components.Document() {
		@components.Head("Discover") {
			<link rel="stylesheet" href="/assets/css/discoverStyles.css"/>
		}
	}
}
