package templates

import "github.com/ljmcclean/knight-hacks-2024/server/templates/components"

templ Discover() {
	@components.Document() {
		@components.Head("Discover") {
			<link rel="stylesheet" href="/assets/css/discoverStyles.css"/>
		}
		<body>
			<div class="content">
				<div id="sidebar">
					<div id="profile">
						<h1 id="profile-name">Nate Lehman</h1>
						<h2 id="profile-skills">Your Skills:</h2>
						<button id="view-profile-btn">View Profile</button>
						<ul id="profile-skill-list">
							<li>Skill 1</li>
							<li>Skill 2</li>
							<li>Skill 3</li>
						</ul>
					</div>
				</div>
				<div class="main-section">
					<div class="search-section">
						<input type="text" id="discover-search" placeholder="Search for projects here..."/>
						<button id="search-btn">Search</button>
					</div>
					<div id="projs">
						<div class="proj-tile" id="proj-tile-one">
							<h1 class="proj-name">Test Project 1</h1>
							<h2 class="proj-loca">Orlando, Florida</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-two">
							<h1 class="proj-name">Test Project 2</h1>
							<h2 class="proj-loca">Phoenix, Arizona</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-three">
							<h1 class="proj-name">Test Project 3</h1>
							<h2 class="proj-loca">Las Vegas, Nevada</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-four">
							<h1 class="proj-name">Test Project 4</h1>
							<h2 class="proj-loca">Orlando, Florida</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-five">
							<h1 class="proj-name">Test Project 5</h1>
							<h2 class="proj-loca">Phoenix, Arizona</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-six">
							<h1 class="proj-name">Test Project 6</h1>
							<h2 class="proj-loca">Las Vegas, Nevada</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-seven">
							<h1 class="proj-name">Test Project 7</h1>
							<h2 class="proj-loca">Phoenix, Arizona</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-eight">
							<h1 class="proj-name">Test Project 8</h1>
							<h2 class="proj-loca">Las Vegas, Nevada</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-nine">
							<h1 class="proj-name">Test Project 9</h1>
							<h2 class="proj-loca">Orlando, Florida</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-ten">
							<h1 class="proj-name">Test Project 10</h1>
							<h2 class="proj-loca">Phoenix, Arizona</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-eleven">
							<h1 class="proj-name">Test Project 11</h1>
							<h2 class="proj-loca">Las Vegas, Nevada</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-twelve">
							<h1 class="proj-name">Test Project 12</h1>
							<h2 class="proj-loca">Orlando, Florida</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-thirteen">
							<h1 class="proj-name">Test Project 13</h1>
							<h2 class="proj-loca">Phoenix, Arizona</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-fourteen">
							<h1 class="proj-name">Test Project 14</h1>
							<h2 class="proj-loca">Las Vegas, Nevada</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-fifteen">
							<h1 class="proj-name">Test Project 15</h1>
							<h2 class="proj-loca">Phoenix, Arizona</h2>
							<p class="proj-desc">sample text</p>
						</div>
						<div class="proj-tile" id="proj-tile-sixteen">
							<h1 class="proj-name">Test Project 16</h1>
							<h2 class="proj-loca">Las Vegas, Nevada</h2>
							<p class="proj-desc">sample text</p>
						</div>
					</div>
				</div>
			</div>
		</body>
	}
}
